In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('homeprices.csv')
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [3]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df[['area', 'price']])
pd.DataFrame(df_scaled)

           0         1
0  -1.252378 -1.431177
1  -0.335143 -1.160226
2   0.123474 -0.347373
3   1.040708  0.917065
4   1.957943  1.729918
5  -1.252378 -0.798958
6  -0.793761 -0.257056
7   0.352783  0.375163
8   1.040708  1.458967
9  -1.252378 -0.979592
10 -0.564452 -0.528007
11 -0.105835 -0.166739
12  1.040708  1.188016

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit_transform(df[['area', 'price']])

array([[0.        , 0.        ],
       [0.28571429, 0.08571429],
       [0.42857143, 0.34285714],
       [0.71428571, 0.74285714],
       [1.        , 1.        ],
       [0.        , 0.2       ],
       [0.14285714, 0.37142857],
       [0.5       , 0.57142857],
       [0.71428571, 0.91428571],
       [0.        , 0.14285714],
       [0.21428571, 0.28571429],
       [0.35714286, 0.4       ],
       [0.71428571, 0.82857143]])